html {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrUdFl--7MP_NxLlNXUtfaWvdIl-7Vyk51dQ&usqp=CAU");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* 
table {
    display: flex;
    justify-content: center;
}

tr td {
    display: flex;
    align-content: space-around;
    margin: 0px;
    width: 20px;
    height: 20px;
    border: solid rgb(0, 0, 0) 1px;
    background-color: rgba(250, 235, 215, 0.707);
}
 */

 canvas {
    /* display: flex; */
    border: solid red 1px;
    background-image: url("https://motionarray.imgix.net/preview-615279-xmeujFgDnE-high_0005.jpg?w=660&q=60&fit=max&auto=format");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

/* does this change */
